.tag {
  /* height: 20px; */
  border: 0.5px solid black;
  border-radius: 10%;
  /* width: auto; */
  margin: 5px 5px;
  /* margin-bottom: 5px; */
  padding: 0 5px;
}

.tag > * {
  padding-right: 10px;
}

/* .mjmn-tag {
  height: 30px;
  border: 0.5px solid black;
  margin: 10px;
} */

.item-name {
  font-family: sans-serif;
  text-align: center;
}

.handle {
  color: blue;
  padding: 3px;
  cursor: default;
}

/* .add-tag {
  color: green;
} */
