{
  "env": {
    "test": {
      "presets": [
        "env",
        "react",
        "stage-1"
      ],
      "plugins": [
        [
          "babel-plugin-root-import",
          {
            "paths": [
              {
                "rootPathPrefix": "/"
              }
            ]
          }
        ]
      ]
    }
  }
}