#service-customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 3vw;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

#service-customer legend {
  font-size: 2em;
  margin: 20px 0;
  line-height: 2.5em;
  text-decoration: underline;
}

#service-customer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#service-customer .form-left,
#service-customer .form-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

#service-customer .form-left > *,
#service-customer .form-right > * {
  margin: 10px 0;
}

#service-customer .form-left {
  margin-right: 5vw;
}

#service-customer .form-left .customer-details,
#service-customer .form-left .bike-details {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  border: 1px solid rgba(95, 95, 236, 0.63);
  padding: 2em;
}

#service-customer .form-right {
  margin-left: 5vw;
}

#service-customer .form-right .misc-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0.75;
  -ms-flex-positive: 0.75;
  flex-grow: 0.75;
}

#service-customer .form-right .misc-details label {
  display: inline-block;
}

#service-customer .form-right .misc-details input[type='checkbox'] {
  margin-right: 3em;
}

#service-customer .form-right .misc-details > * {
  margin: 10px 0;
}

#service-customer .form-right .misc-details button {
  width: 10em;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.service-form-label {
  position: relative;
  width: 100%;
  height: 3em;
  margin: 20px 0;
  border-bottom: 1px solid black;
}

.service-form-label::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: -1px;
  left: 0px;
  -webkit-transition: -webkit-transform 1500 ease;
  transition: -webkit-transform 1500 ease;
  transition: transform 1500 ease;
  transition: transform 1500 ease, -webkit-transform 1500 ease;
}

.service-form-label:focus-within::after {
  border-bottom: 1px solid #5fa8d3;
}

.service-form-label .service-form-input {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 20px 0 0 0;
  line-height: 3em;
  border: none;
  outline: none;
}

.service-form-label .service-form-input:focus-within + .placeholder {
  -webkit-transform: translateY(-2.5em);
  transform: translateY(-2.5em);
  font-size: 0.7em;
  color: #5fa8d3;
}

.service-form-label .service-form-input:valid + .placeholder,
.service-form-label .service-form-input:invalid + .placeholder {
  -webkit-transform: translateY(-2.5em);
  transform: translateY(-2.5em);
  font-size: 0.7em;
  color: #5fa8d3;
}

.service-form-label input:invalid {
  -webkit-box-shadow: 0 0 5px 1px red;
  box-shadow: 0 0 5px 1px red;
}

.service-form-label input:focus:invalid {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.service-form-label .placeholder {
  position: absolute;
  left: 1%;
  top: 20%;
  pointer-events: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/*# sourceMappingURL=client.css.map */
