.tag-input {
  height: 18px;
  font-size: 1.28571429rem;
  background: #219ed0;
  border: none;
  color: white;
  text-align: center;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.tag-number-input {
  height: 18px;
  width: 40px;
  font-size: 1.28571429rem;
  background: #219ed0;
  border: none;
  color: white;
  text-align: center;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
