.ui.card {
  margin: 5px !important;
}

.ui.card:first-child {
  margin-top: 5px !important;
}
.ui.card:last-child {
  margin-bottom: 5px !important;
}

.part-img-container {
  height: 290px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-img {
  max-height: 290px;
  max-width: 290px;
  margin: 0 auto;
}

.part-desc {
  height: 96px;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

/* .part-num-container {
  flex-direction: row !important;
  align-content: space-between !important;
} */

.part-num {
  float: right;
}

.price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px !important;
}