.uploadXL{

	bottom: -100px;
	-webkit-animation: slide 0.5s forwards;
	animation: slide 0.5s forwards;
	
}

@-webkit-keyframes slide {
	100% { bottom: 0; }
}

@keyframes slide {
	100% { bottom: 0; }
}
