.product-content {
  margin-top: 1em;
  max-height: 100%;
  font-size: 1.2em;
  padding: 1em 0.5em;
  width: 100%;
}

.product-content input {
  margin-bottom: 1em;
}

.product-content select {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.product-content label {
  margin-right: 5px;
}

.pass-container {
  border: 2px solid #db2828;
}

.course-container {
  border: 2px solid #21ba45;
}

.membership-container {
  border: 2px solid #2185d0;
}

.pass-container, .course-container, .membership-container {
  border-radius: 5px;
}