<template name="PeopleInsert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> PeopleInsertForm}}
	</div>
</template>

<template name="PeopleInsertForm">
	<div id="people-insert-form" class="">
		<h2 id="component-title">
			Insert
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-pplname">
				<label for="pplname">
					Pplname
				</label>
				<div class="input-div">
					<input type="text" name="pplname" value="" class="form-control " autofocus="autofocus">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pplsurname">
				<label for="pplsurname">
					Pplsurname
				</label>
				<div class="input-div">
					<input type="text" name="pplsurname" value="" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-ppllastatn">
				<label for="ppllastatn">
					Ppllastatn
				</label>
				<div class="input-div">
					<input type="text" name="ppllastatn" value="" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pplavatar">
				<label for="pplavatar">
					Pplavatar
				</label>
				<div class="input-div">
					<input type="text" name="pplavatar" value="" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pplisvol">
				<label for="pplisvol">
					Pplisvol
				</label>
				<div class="input-div">
					<input type="text" name="pplisvol" value="" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pplissuper">
				<label for="pplissuper">
					Pplissuper
				</label>
				<div class="input-div">
					<input type="text" name="pplissuper" value="" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-pplisadmin">
				<label for="pplisadmin">
					Pplisadmin
				</label>
				<div class="input-div">
					<input type="text" name="pplisadmin" value="" class="form-control ">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<button id="form-submit-button" class="btn btn-success" type="submit">
						<span class="fa fa-check">
						</span>
						Save
					</button>
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
				</div>
			</div>
		</form>
	</div>
</template>

