<template name="Roles">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<h2 id="page_title" class="pull-left">
					Roles
				</h2>
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> RolesList}}
	</div>
</template>

<template name="RolesList">
	<div id="roles-list" class="">
		<form id="dataview-controls" class="form-inline">
			<div id="dataview-controls-insert" class="form-group ">
				<button type="submit" id="dataview-insert-button" class="btn btn-success">
					<span class="fa fa-plus">
					</span>
					Add new
				</button>
			</div>
			<div id="dataview-controls-search">
				<div id="dataview-controls-search-group" class="form-group">
					<label class="sr-only" for="search">
						Search
					</label>
					<input type="text" class="form-control" id="dataview-search-input" placeholder="Search" name="search" value="{{searchString}}" autofocus="autofocus">
					<button type="button" id="dataview-search-button" class="btn btn-primary">
						<span class="fa fa-search">
						</span>
					</button>
				</div>
			</div>
		</form>
		{{#if isNotEmpty}}
			{{#if isNotFound}}
		<div class="alert alert-warning">
			"{{searchString}}" not found.
		</div>
		{{else}}
		<div id="dataview-data">
			{{#if viewAsTable}} {{> RolesListTable}} {{/if}}
		</div>
		{{/if}}
		{{else}}
		<div class="alert alert-info">
			Empty.
		</div>
		{{/if}}
	</div>
</template>

<template name="RolesListTable">
	<table id="dataview-table" class="table table-striped">
		<thead id="dataview-table-header">
			<tr id="dataview-table-header-row">
				<th class="th-sortable" data-sort="name">
					Name
				</th>
				<th class="th-sortable" data-sort="role">
					Role
				</th>
				<th class="th-sortable" data-sort="programid">
					Programid
				</th>
				<th class="th-sortable" data-sort="profilefields">
					Profilefields
				</th>
				<th class="th-sortable" data-sort="email">
					Email
				</th>
				<th>
					&nbsp;
				</th>
				<th>
					&nbsp;
				</th>
			</tr>
		</thead>
		<tbody id="dataview-table-items">
			{{#each tableItems}} {{> RolesListTableItems}} {{/each}}
		</tbody>
	</table>
</template>

<template name="RolesListTableItems">
	<tr id="dataview-table-items-row">
		<td>
			{{name}}
		</td>
		<td>
			{{role}}
		</td>
		<td>
			{{programid}}
		</td>
		<td>
			{{profilefields}}
		</td>
		<td>
			{{email}}
		</td>
		<td class="td-icon">
			<span id="edit-button" class="fa fa-pencil " title="Edit">
			</span>
		</td>
		<td class="td-icon">
			<span id="delete-button" class="fa fa-trash-o " title="Delete">
			</span>
		</td>
	</tr>
</template>

