*{
    margin: 0;
    padding: 0;
}

.input-container {
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 2em;

}
/* .ac-input-title{
    background: blue;
    color: white;
    flex-grow: 1;
}
.ac-input{
    font-size: 1.5em;
    line-height: 1.2em;
    background: white;
    flex-grow: 5;
} */