{
  "presets": [
    [
      "@babel/preset-env",
      {
        "shippedProposals": true,
        "useBuiltIns": "usage",
        "corejs": "2"
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "$sb": "./imports/ui/forms/survey-builder"
        }
      }
    ]
  ]
}
