<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="com.curiyoapp.camerarecorderplugin" version="1.1">
  <name>CameraRecorderPlugin</name>
  <description>Camera plugin</description>
  <license>Apache 2.0</license>
  <keywords>cordova,camera,recorder</keywords>
  <repo></repo>
  <issue></issue>

  <js-module src="www/CameraRecorder.js" name="CameraRecorder">
    <clobbers target="CameraRecorder"/>
  </js-module>

  <platform name="android">

    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-feature android:name="android.hardware.camera"/>
      <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
      <uses-permission android:name="android.permission.CAMERA"/>
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      <uses-permission android:name="android.permission.INTERNET"/>
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    </config-file>

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CameraRecorder">
        <param name="android-package" value="com.curiyoapp.camerarecorderplugin.CameraRecorder"/>
      </feature>
    </config-file>

    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/CameraFragment.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/CameraGLView.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/CameraRecorder.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/CameraUtils.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>

    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/EGLBase.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/GLDrawer2D.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/MediaAudioEncoder.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/MediaEncoder.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>

    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/MediaMuxerWrapper.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/MediaVideoEncoder.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/MultiMuxer.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>
    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/RenderHandler.java" target-dir="src/com/curiyoapp/camerarecorderplugin"/>

    <source-file src="src/android/com/curiyoapp/camerarecorderplugin/com_curiyoapp_camerarecorderplugin_values.xml" target-dir="res/values"/>

    <source-file src="src/android/libs/isoparser-1.1.17.jar" target-dir="libs"/>
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="CameraRecorder">
        <param name="ios-package" value="CRPCameraRecorder" onload="true"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CRPAssetWriterWrapper.h"/>
    <source-file src="src/ios/CRPAssetWriterWrapper.m"/>

    <header-file src="src/ios/CRPCameraRecorder.h"/>
    <source-file src="src/ios/CRPCameraRecorder.m"/>

    <header-file src="src/ios/CRPCameraViewController.h"/>
    <source-file src="src/ios/CRPCameraViewController.m"/>

    <header-file src="src/ios/CRPCaptureSessionCoordinator.h"/>
    <source-file src="src/ios/CRPCaptureSessionCoordinator.m"/>

    <header-file src="src/ios/CRPMultiRecorder.h"/>
    <source-file src="src/ios/CRPMultiRecorder.m"/>

    <header-file src="src/ios/CRPUtils.h"/>
    <source-file src="src/ios/CRPUtils.m"/>

    <framework src="AVFoundation.framework"/>
    <framework src="AssetsLibrary.framework"/>
    <framework src="MobileCoreServices.framework"/>

  </platform>

</plugin>
