<template name="Home">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
				<div id="page_menu" class="pull-right">
				</div>
			</div>
		</div>
		{{> HomeJumbotron}}
	</div>
</template>

<template name="HomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				This application is written in human language!
			</h1>
			<p id="jumbotron-text">
				Human to describe app, machine to write code!
			</p>
		</div>
	</div>
</template>

