.Container {
  background-color: #fbbd08;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 50px 20px;
}
.Punch-Card p {
}
.Digit {
  margin: 5px;
  border-radius: 25%;
  color: blue;
  background: white;
  font-weight: bold;
  padding: 10px;
}

.DigitUsed {
  margin: 5px;
  border-radius: 50%;
  color: red;
  font-weight: bold;
  background: white;
  padding: 10px;
}
