@import url('https://fonts.googleapis.com/css?family=Lato');
.Punch-Card, .multi-visit-card {
  font-family: 'Lato', sans-serif;
  width: 80%;
  margin: auto;
  padding: auto;
  background-color: #fbbd08;
}
.multi-visit-card{
  background-color: #6699ff;
}
.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.Digit, .usedMultiDigit, .multiDigit{
  margin: auto ;
  border-radius: 50%;
  font-weight: bold;
  background: white;
  width: 90px;
  height: 90px;
  font-size: 40px;
  text-align: center;
  padding: 5px;
  display:flex;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}
.usedMultiDigit{
  color: red;
  background: white;
}
.multiDigit{
  color: white;
  background: green;
}
.header {
  font-size: 40px;
  padding: 20px;
  color: white;
  font-weight: bold;
}
.footer {
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}
.weekName{
  text-align: center;
  color: blue;
  font-weight: bold;
}
.digitParent{
  width: 100px;
  height: 100px;
}