/*will need to make custom theme */
.member-card {
  margin: 5px !important;
}

.member-card:first-child {
  margin-top: 5px !important;
}
.member-card:last-child {
  margin-bottom: 5px !important;
}
