.member-search .MuiOutlinedInput-root {
  background: #7FFF98;
  border-radius: 5px;
}

.member-search .MuiOutlinedInput-notchedOutline {
  border: 3px solid #18BF39;
}

.member-search .MuiOutlinedInput-input {
  color: #005E12 !important;
  text-align: left;
  font-size: 1.5em !important;
  width: 100%;
}

.member-search .MuiOutlinedInput-input::placeholder {
  color: black !important;
  opacity: 1;
}

.member-search .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #18BF39;
}

@media only screen and (min-width: 768px) {
  .member-search {
    width: 500px !important;
  }
}
