.member-visit-pin {
  /* border: 1px solid red; */
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.keypad button {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  box-shadow: none;
  border: none;
  margin: 3px;
  border: 1px solid #aaa;
  background-color: #ccc;
  color: white;
  font-size: 2em;
}

.keypad button:hover {
background-color: #bbb;
}
.keypad button:active {
  background-color: #aaa;
}